<header class="header">
    <h1>Welcome to Fake Bank App</h1>
    <p>Manage your accounts and users easily along with making transactions</p>
  </header>

  <main>
    <h1>Structure of the app</h1>
    <h2>Users Screen</h2>
    <p>Displays all users and CRUD functionalities</p>
    <p>Delete user first deletes any transaction to/from that user and then deletes all accounts linked with that user and then finally deletes the user</p>
    <h2>Account Screen</h2>
    <p>Displays all accounts and CRUD functionalities</p>
    <p>Delete Account: first deletes any transaction to/from that account and then deletes the account</p>
    <h2>Transaction Screen</h2>
    <p>Displays all transaction and CR functionalities</p>
    <p>Transaction can not be directly deleted, it is only deleted when an account or a user is deleted.</p>
  </main>