<div>
    <h2>User Management</h2>
  
    <!-- Add User Form -->
    <button class="button add-user-button" (click)="toggleAddUserForm()">Add User</button>
     @if(showAddUserForm) {
    <form (ngSubmit)="addUser()">
      <input [(ngModel)]="newUser.username" name="name" placeholder="Name" required />
      <input [(ngModel)]="newUser.email" name="email" placeholder="Email" required />
      <input [(ngModel)]="newUser.phoneNumber" name="phone" placeholder="Phone" required />
      <button type="submit" class="button">Add User</button>
      <button type="button" class="button cancel-button" (click)="toggleAddUserForm()">Cancel</button>
    </form>
  }
  
    <!-- Edit User Form -->
     @if (editingUser) {
    <div>
      <h3>Edit User</h3>
      <form (ngSubmit)="updateUser()">
        <input [(ngModel)]="editingUser.username" name="name" placeholder="Name" required />
        <input [(ngModel)]="editingUser.email" name="email" placeholder="Email" required />
        <input [(ngModel)]="editingUser.phoneNumber" name="phone" placeholder="Phone" required />
        <button type="submit">Update User</button>
        <button type="button" class="button" (click)="editingUser = null">Cancel</button>
      </form>
    </div>
    }
  
  </div>
<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
            <tr>
                <td>{{user.userId}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <button (click)="getUserAccounts(user.userId)">User Accounts</button>
                <button (click)="editUser(user)">Edit</button>
                <button (click)="deleteUser(user.userId)">Delete</button>
            </tr>
        }
    </tbody>
</table>

@if (userAccounts) {
  @if (userAccounts.length == 0) {
    <h3>No Accounts for {{ selectedUser?.username }}</h3>
    <h4>Register an Account Today!</h4>
  } @else if (userAccounts.length > 0) {
    <h3>Accounts for {{ selectedUser?.username }}</h3>
    <table>
      <thead>
          <tr>
              <th>Account ID</th>
              <th>Account Number</th>
              <th>Balance</th>
          </tr>
      </thead>
      <tbody>
          @for (account of userAccounts; track $index) {
              <tr>
                  <td>{{account.accountId}}</td>
                  <td>{{account.accountNumber}}</td>
                  <td>{{account.balance}}</td>
              </tr>
          }
      </tbody>
  </table>
  <button type="button" class="button" (click)="userAccounts = null">Close Accounts View</button>
  }
}