<div>
    <h2>User Management</h2>
  
    <!-- Add User Form -->
    <button class="button add-user-button" (click)="toggleAddUserForm()">Add User</button>
     @if(showAddUserForm) {
    <form (ngSubmit)="addUser()">
      <div class="form-group">
      <input 
      [(ngModel)]="newUser.username" 
      name="name" 
      placeholder="Name" 
      required
      #username="ngModel"
      pattern="^[a-zA-Z ]*$"
      />
      @if (username.invalid && username.touched) {
        <div class="error-message">
          Name is required and should only contain letters and spaces.
        </div>
      }
      </div>
      <div class="form-group">
      <input [(ngModel)]="newUser.email" name="email" placeholder="Email" required  #email="ngModel" email/>
      @if (email.invalid && email.touched) {
        <div class="error-message">
          Please enter a valid email.
        </div>
      }
      </div>
      <div class="form-group">
      <input [(ngModel)]="newUser.phoneNumber" name="phone" placeholder="Phone Number" required #phone="ngModel" pattern="^[0-9]{10}$"/>
      @if (phone.invalid && phone.touched) {
        <div class="error-message">
          Phone number must be exactly 10 digits.
        </div>
      }
      </div>
      <button type="submit" [disabled]="username.invalid || email.invalid || phone.invalid" class="button">Add User</button>
      <button type="button" class="button cancel-button" (click)="toggleAddUserForm()">Cancel</button>
    </form>
  }
  <hr>
  
    <!-- Edit User Form -->
     @if (editingUser) {
    <div>
      <h3>Edit User</h3>
      <form (ngSubmit)="updateUser()" >
        <div class="form-group">
          <label for="name">Username: </label>
          <input [(ngModel)]="editingUser.username" name="name" placeholder="Name" required #username="ngModel"
           pattern="^[a-zA-Z ]*$"/>
           @if (username.invalid && username.touched) {
            <div class="error-message">
              Name is required and should only contain letters and spaces.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input [(ngModel)]="editingUser.email" name="email" placeholder="Email" required #email="ngModel"
          email/>
          @if (email.invalid && email.touched) {
            <div class="error-message">
              Please enter a valid email.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="phone">Phone Number: </label>
          <input [(ngModel)]="editingUser.phoneNumber" name="phone" placeholder="Phone" required #phone="ngModel"
          pattern="^[0-9]{10}$" />
          @if (phone.invalid && phone.touched) {
            <div class="error-message">
              Phone number must be exactly 10 digits.
            </div>
          }
        </div>
        <button type="submit" [disabled]="username.invalid || email.invalid || phone.invalid" class="button">Update User</button>
        <button type="button" class="button cancel-button" (click)="editingUser = null">Cancel</button>
      </form>
    </div>
    }
  
  </div>
<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
            <tr>
                <td>{{user.userId}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <button (click)="getUserAccounts(user.userId)">User Accounts</button>
                <button (click)="editUser(user)">Edit</button>
                <button (click)="deleteUser(user.userId)">Delete</button>
            </tr>
        }
    </tbody>
</table>

@if (userAccounts) {
  @if (userAccounts.length == 0) {
    <h3>No Accounts for {{ selectedUser?.username }}</h3>
    <h4>Register an Account Today!</h4>
  } @else if (userAccounts.length > 0) {
    <h3>Accounts for {{ selectedUser?.username }}</h3>
    <table>
      <thead>
          <tr>
              <th>Account ID</th>
              <th>Account Number</th>
              <th>Balance</th>
          </tr>
      </thead>
      <tbody>
          @for (account of userAccounts; track $index) {
              <tr>
                  <td>{{account.accountId}}</td>
                  <td>{{account.accountNumber}}</td>
                  <td>{{account.balance}}</td>
                  <button class="cancel-button" (click)="deleteAccount( account.userId, account.accountId)">Delete</button>
              </tr>
          }
      </tbody>
  </table>
  <button type="button" class="button cancel-button" (click)="userAccounts = null">Close Accounts View</button>
  }
}